@import "variables";

body {
  font-size: 24px;
  color: $color_text;
  @include background("../imgs/bg1.png");
  height: -webkit-fill-available;
  text-align: center;
}

header {
  padding:20px 0;
  .header_top {
    p {
      font-size: $size_p;
    }
  }
}

content {
  img {
    height: 100px;
    margin-top: 150px;
  }
  h1 {
    font-size: $size_h;
    padding: 10px 100px;
  }
  p {
    font-size: $size_p;
    padding: 10px 120px;
  }
}

