@font-face {
  font-family: MontserratsemiBold;
  src: url(../fonts/Montserrat-SemiBold.ttf); }
@font-face {
  font-family: MontserratLight;
  src: url(../fonts/Montserrat-Light.ttf); }
@font-face {
  font-family: MontserratRegular;
  src: url(../fonts/Montserrat-Regular.ttf); }
/*Color from left filed*/
/*Color from right filed*/
/*Color text*/
/*color $color_content_12*/
/*color bg 2*/
/*color opacity*/
/*colorfooter*/
/*color of 12*/
/*size of p content*/
/*size p small*/
/*size h1 */
/*height of input and content form*/
/*size back*/
body, header, content, footer, .container {
  font-family: MontserratLight, serif;
  width: 100%; }

header {
  padding-top: 20px; }

.header-fixed {
  padding-top: 185px; }

.active {
  background: #B4B9CE; }

/*button header */
.header_choose {
  margin-top: 20px; }
  .header_choose p {
    font-family: MontserratRegular, serif;
    font-size: 11px;
    padding: 8px 0; }
    .header_choose p.left {
      border: 1px solid #000;
      border-right: 1px solid #000;
      border-radius: 70px 0 0 70px; }
    .header_choose p.right {
      border: 1px solid #000;
      border-radius: 0 70px 70px 0; }

/*button back*/
.back {
  font-size: 40px; }

body {
  background: url("../imgs/bg1.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: auto; }

header {
  text-align: center;
  padding-bottom: 35px; }
  header p {
    font-family: MontserratsemiBold, serif;
    color: #02145a;
    font-size: 13px;
    letter-spacing: 2px; }
  header h1 {
    color: #02145a;
    letter-spacing: 2px;
    font-size: 21px;
    padding: 0; }

content {
  position: relative;
  /* Rounded sliders */ }
  content .content_top {
    background: url("../imgs/field.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
    text-align: center;
    width: 100%;
    margin-top: 80px; }
    content .content_top p {
      color: #fff;
      font-family: MontserratsemiBold, serif;
      font-size: 13px;
      padding: 15px;
      margin: 0px; }
    content .content_top p {
      margin-bottom: 10px; }
  content .form-group {
    margin-top: -10px;
    margin-bottom: 0; }
  content .form-control {
    border-radius: 0;
    border: 0;
    padding: 25px 10px;
    margin-bottom: 1px; }
  content .btn_choose {
    padding: 25px 0;
    background: #fff; }
    content .btn_choose p {
      font-size: 13px; }
  content .switch {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 30px; }
  content .switch input {
    display: none; }
  content .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s; }
  content .slider:before {
    position: absolute;
    content: "";
    height: 30px;
    width: 30px;
    left: 1px;
    bottom: 0;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s; }
  content input:checked + .slider {
    background-color: #fd4968; }
  content input:focus + .slider {
    box-shadow: 0 0 1px #fd4968; }
  content input:checked + .slider:before {
    -webkit-transform: translateX(14px);
    -ms-transform: translateX(14px);
    transform: translateX(14px); }
  content .slider.round {
    border-radius: 34px; }
  content .slider.round:before {
    border-radius: 50%; }

footer {
  background: url("../imgs/field.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: auto;
  text-align: center;
  width: 100%;
  position: fixed;
  bottom: 0;
  margin-top: 100px; }
  footer p {
    color: #fff;
    font-family: MontserratsemiBold, serif;
    font-size: 13px;
    padding: 15px;
    margin: 0px; }

/*# sourceMappingURL=index_1.css.map */
