#footer {
  border-top: 1px solid #fff3f6;
  -moz-box-shadow: 0px -11px 12px #fff4f6;
  -webkit-box-shadow: 0px -11px 12px #fff4f6;
  box-shadow: 0px -11px 12px #fff4f6;
  bottom: 0 !important;
  position: fixed;
  background: #fff;
  /*margin-left: -15px;*/
  width: 100%;
  padding-top: 10px; }

h1, p {
  font-family: monsterLight;
  font-size: 14px; }

#footer ul li p {
  margin: 5px 0 5px -5px;
  font-size: 11px; }

#exTab1 .tab-content {
  padding: 5px; }
#exTab1 .nav-pills li {
  width: 20%;
  display: block;
  margin: 0;
  padding: 0; }
  #exTab1 .nav-pills li a {
    color: #a3a5bb;
    border-radius: 0;
    padding: 0 4px;
    text-align: center;
    display: block; }
    #exTab1 .nav-pills li a .fa {
      font-size: 12px;
      font-weight: bold;
      text-align: center;
      display: block; }

.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
  color: red !important;
  background-color: #fff !important; }

@font-face {
  font-family: MontserratsemiBold;
  src: url(../fonts/Montserrat-SemiBold.ttf); }
@font-face {
  font-family: MontserratLight;
  src: url(../fonts/Montserrat-Light.ttf); }
@font-face {
  font-family: MontserratRegular;
  src: url(../fonts/Montserrat-Regular.ttf); }
/*Color from left filed*/
/*Color from right filed*/
/*Color text*/
/*color $color_content_12*/
/*color bg 2*/
/*color opacity*/
/*colorfooter*/
/*color of 12*/
/*size of p content*/
/*size p small*/
/*size h1 */
/*height of input and content form*/
/*size back*/
body, header, content, footer, .container {
  font-family: MontserratLight, serif;
  width: 100%; }

header {
  padding-top: 20px; }
  header p {
    letter-spacing: 2px; }

.header-fixed {
  padding-top: 185px; }

/*button header */
.header_choose {
  margin-top: 20px; }
  .header_choose p {
    font-family: MontserratRegular, serif;
    font-size: 11px;
    padding: 8px 0; }
    .header_choose p.left {
      border: 1px solid #000;
      border-right: 1px solid #000;
      border-radius: 70px 0 0 70px; }
    .header_choose p.right {
      border: 1px solid #000;
      border-radius: 0 70px 70px 0; }

/*button back*/
.back {
  font-size: 40px; }

body {
  font-size: 24px;
  color: #02145a;
  background: url("../imgs/bg1.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: auto;
  height: -webkit-fill-available;
  text-align: center; }

header {
  padding: 20px 0; }
  header .header_top .back {
    font-size: 40px; }
  header .header_top p {
    font-size: 13px; }

content {
  background: #FEB8C1;
  display: -webkit-inline-box;
  margin-top: 80px; }
  content .banner_content_1 h1 {
    font-family: MontserratRegular, serif;
    font-size: 11px;
    padding: 15px 10px;
    background: #FFDED9;
    width: 100%;
    text-align: left;
    margin-top: 0px;
    margin-bottom: 0; }
  content .pro_1 {
    border-bottom: 1px solid red; }
  content .media {
    background: #fff;
    padding-top: 20px; }
    content .media .media-body {
      vertical-align: middle;
      text-align: left; }
      content .media .media-body h1.media-heading {
        color: #02145a;
        font-family: MontserratsemiBold, serif;
        font-size: 13px; }
      content .media .media-body p {
        color: #9AA1BD;
        font-size: 13px;
        font-family: MontserratLight, serif; }
        content .media .media-body p.icon {
          margin-left: -5px; }
      content .media .media-body img {
        height: 20px;
        width: 20px;
        position: absolute;
        left: 0; }
    content .media .media-right {
      vertical-align: middle;
      padding-right: 20px; }
      content .media .media-right img {
        width: 14px; }
  content .list_price {
    background: #fff; }
    content .list_price .money h1 {
      font-size: 21px;
      font-family: MontserratLight, serif;
      margin-top: 15px;
      margin-bottom: 0; }
    content .list_price .prop_content {
      background: url("../imgs/field.png");
      background-size: cover;
      background-repeat: no-repeat;
      height: auto;
      text-align: center;
      width: 100%;
      width: 50%;
      height: 100%; }
      content .list_price .prop_content p {
        color: #fff;
        font-family: MontserratsemiBold, serif;
        font-size: 13px;
        padding: 15px;
        margin: 0px; }
      content .list_price .prop_content p {
        color: #fff;
        font-size: 13px;
        font-family: MontserratsemiBold, serif; }
  content .title_end p {
    font-size: 11px;
    font-family: MontserratRegular,serif;
    text-align: left;
    padding: 20px 10px;
    background: #FFCDD5; }
  content .bottom {
    margin-bottom: 50px;
    border: 0; }
    content .bottom .media {
      padding-top: 0; }
      content .bottom .media .media-heading {
        line-height: 40px; }

/*# sourceMappingURL=index_12.css.map */
