@import "variables";

body {
  font-size: 24px;
  color: $color_text;
  @include background("../imgs/bg1.png");
  height: -webkit-fill-available;
  text-align: center;
  height: auto;
}

header {
  padding: 20px 0;
  .header_top {
    p {
      font-size: $size_p;
      font-family: MontserratsemiBold, serif;
    }
  }
}

.active {
  background: #B4B9CE;
}

content {
  img {
    height: 100px;
    margin-top: 150px;
  }
  h1 {
    font-size: 24px;
    padding: 10px 75px;
    font-family: MontserratLight, serif;
  }
  p {
    font-size: $size_p;
    padding: 10px 70px;
    font-family: MontserratLight, serif;
  }
}

