@import "variables";

body {
  font-size: 24px;
  color: $color_text;
  @include background("../imgs/bg1.png");
  height: -webkit-fill-available;
  text-align: center;
}

header {
  padding: 20px 0;
  .header_top {
    .back {
      font-size: $size_back;
    }
    p {
      font-size: $size_p;
    }
  }
}

content {
  .banner_content_1 {
    h1 {
      font-family: MontserratRegular, serif;
      font-size: $size_p_small;
      padding: 10px;
      background: #FFDED9;
      width: 100%;
      text-align: left;
    }
  }
  .pro_1 {

    .media {
      background: #fff;
      .media-body {
        vertical-align: middle;
        text-align: left;
        h1.media-heading {
          color: $color_text;
          font-family: MontserratsemiBold, serif;
          font-size: $size_p;
        }
        p {
          color: $color_opacity;
          font-size: $size_p;
          font-family: MontserratLight, serif;
        }
        img {
          height: 15px;
          width: 15px;
          position: absolute;
        }
      }
      .media-right {
        vertical-align: middle;
        padding-right: 20px;
        img {
          width: 14px;
        }
      }
    }
  }
}

