@font-face {
  font-family: MontserratsemiBold;
  src: url(../fonts/Montserrat-SemiBold.ttf);
}
@font-face {
  font-family: MontserratLight;
  src: url(../fonts/Montserrat-Light.ttf);
}
@font-face {
  font-family: MontserratRegular;
  src: url(../fonts/Montserrat-Light.ttf);
}

/*Color from left filed*/
$color_content_left: #fd4968;
/*Color from right filed*/
$color_content_right: #fc624e;
/*Color text*/
$color_text: #02145a;
/*color bg 1*/
$color_bg_1: #feb9be;
/*color bg 2*/
$color_bg_2: #fecdd4;
/*color opacity*/
$color_opacity: #e1e2eb;
/*colorfooter*/
$color_footer: #a3a5bb;
/*size of p content*/
$size_p: 13px;
/*size h1 */
$size_h: 21px;
/*height of input and content form*/
$height_input: 60px;

body {
  font-family: MontserratLight, serif;
  padding: 0;
  margin: 0;
}

@mixin line_1($bg_url) {
  text-align: center;
  background: url($bg_url);
  height: 35px;
  margin-top: 30px;
  background-size: cover;
}

@mixin background($url) {
  background: url($url);
  background-size: cover;
  height: auto;
}

@mixin icon_shop {
  background: url("../shop/index_4/cart.png");
  width: 32px;
  height: 28px;
  margin-right: 0;
  background-size: cover;
  background-repeat: no-repeat;
}


@mixin icon_map {
  background: url("../shop/index_4/location.png");
  width: 15px;
  height: 40px;
  //float: left;
  background-repeat: no-repeat;
  background-size: cover;
}
@mixin header_h1_remove {
  font-family: MontserratLight, serif;
  font-weight: normal;
  font-size: 25px;
  color: #fff;
  text-align: left;
  padding-left: 20px;
}
@mixin header_title_h1 {
  font-size: 13px;
  font-family: MontserratLight, serif;
  color: $color_text;
  text-align: center;
}